li{
    list-style: none;
}
.cardDetail{
   
}

.card-container{
    margin:2rem;
    display:flex;
    flex-flow:row ;
    justify-content: space-around;
    align-content: center;

    border:1px solid pink;
}

img{
    justify-self: center;
    align-self: end;
    width:300px;
    border-radius: 7px;
}

.card-items{
    color:white;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    align-items: start;
    align-content: start;
}