* {
    box-sizing: border-box;
    margin: 0;
}

button{
    margin: 8px;
    margin-top: 16px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.containForm p {
    color: rgb(255, 255, 255);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
    margin: 10%;
    padding: 8px;
    border-radius: 25px;
    background-color: rgb(223, 43, 226);
    min-width: 500px;
}
.form h2 {
    margin-bottom: 32px;
    color: rgb(255, 255, 255);
}

.selector{
    margin: 8px;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

