.loveDisplay {
    color:rgb(211, 52, 24);
    background-color: rgba(0, 0, 0, 0.548);

}


* {
    box-sizing: border-box;
  }
  .para-love{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  }

.container-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:90%;
    height:95%;
    background-image: url("../assets/images/DarthVader.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: absolute;
    margin: 20px;
    padding: 16px;
    background-color: transparent;
    }

    .loveDisplay, option {
        border-radius: 5px;
        font-size: 2rem;
        text-align: center;
        margin:64px;
        
    }

    #name1-select,
    #name2-select {
        width: 60%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        border-radius: 5px;
        
    }
    
    #name1-select,
    #name2-select:focus {
        background-color: rgb(241, 142, 233);
        outline: none;
    }
    
    /* Set a style for the submit button */
    .btn-select {
        background-color: #5f04aa;
        color: white;
        font-size: 1.5rem;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.5;
        border-radius: 5px;
    }
    
    .btn-select:hover {
        opacity: 1;
    }